<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Spaceblazer 🚀🔥</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= action_cable_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
    <%= javascript_include_tag 'application' %>
    <%#= javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/fingerprintjs2/1.8.1/fingerprint2.js' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
